In [1]:
from matplotlib import pyplot
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import statsmodels.imputation.mice as mice
import matplotlib.pyplot as plt
%matplotlib inline

## Load Data

In [2]:
train16 = pd.read_csv("train_2016_v2.csv", parse_dates=["transactiondate"])
print(train16.shape)
train16.tail()

(90275, 3)

       parcelid  logerror transactiondate
90270  10774160   -0.0356      2016-12-30
90271  12046695    0.0070      2016-12-30
90272  12995401   -0.2679      2016-12-30
90273  11402105    0.0602      2016-12-30
90274  12566293    0.4207      2016-12-30

In [3]:
train16["transactiondateyear"] = train16["transactiondate"].dt.year
train16["transactiondatemonth"] = train16["transactiondate"].dt.month
train16["transactiondateday"] = train16["transactiondate"].dt.day

train16.head()

,parcelid,logerror,transactiondate,transactiondateyear,transactiondatemonth,transactiondateday
0,11016594,0.0276,2016-01-01,2016,1,1
1,14366692,-0.1684,2016-01-01,2016,1,1
2,12098116,-0.0040,2016-01-01,2016,1,1
3,12643413,0.0218,2016-01-02,2016,1,2
4,14432541,-0.0050,2016-01-02,2016,1,2

In [4]:
property16 = pd.read_csv("properties_2016.csv")
print(property16.shape)
property16.tail()

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2985217, 58)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new_train16 = train16.set_index('parcelid').join(property16.set_index('parcelid'))
new_train16.reset_index(inplace=True, drop=True)
new_train16.head()

,logerror,transactiondate,transactiondateyear,transactiondatemonth,transactiondateday,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,0.0276,2016-08-02,2016,8,2,1.0,NaN,NaN,3.0,4.0,...,NaN,NaN,245180.0,567112.0,2015.0,321932.0,7219.18,NaN,NaN,6.037113e+13
1,-0.0182,2016-08-02,2016,8,2,1.0,NaN,NaN,3.0,3.0,...,NaN,NaN,254691.0,459844.0,2015.0,205153.0,6901.09,NaN,NaN,6.037113e+13
2,-0.1009,2016-05-03,2016,5,3,1.0,NaN,NaN,2.0,3.0,...,NaN,NaN,235114.0,384787.0,2015.0,149673.0,4876.61,NaN,NaN,6.037113e+13
3,-0.0121,2016-04-05,2016,4,5,1.0,NaN,NaN,2.0,4.0,...,NaN,NaN,262309.0,437176.0,2015.0,174867.0,5560.07,NaN,NaN,6.037113e+13
4,-0.0481,2016-07-15,2016,7,15,1.0,NaN,NaN,2.0,4.0,...,NaN,NaN,232037.0,382055.0,2015.0,150018.0,4878.25,NaN,NaN,6.037113e+13

## Regression, Imputation

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import Imputer

/usr/local/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence

In [7]:
exc = [new_train16.columns[c] for c in range(len(new_train16.columns)) if new_train16.dtypes[c] == 'O'] + ['logerror','parcelid']
col = [c for c in new_train16.columns if c not in exc]

col.remove('transactiondate')

exc_new_train16 = new_train16[col]

In [8]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(exc_new_train16)
new_df16 = imp.transform(exc_new_train16)

/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [10]:
df = pd.DataFrame(new_df16, columns=col)
#df["logerror"] = new_train16["logerror"]

In [11]:
#dfX0 = pd.DataFrame(boston.data, columns=boston.feature_names)
dfX = sm.add_constant(df)
dfy = new_train16["logerror"]

model = sm.OLS(dfy, dfX)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logerror   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     14.24
Date:                Thu, 05 Jul 2018   Prob (F-statistic):           9.13e-81
Time:                        16:01:27   Log-Likelihood:                 36977.
No. Observations:               90275   AIC:                        -7.388e+04
Df Residuals:                   90240   BIC:                        -7.355e+04
Df Model:                          34
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
transactiondateyear          -9.834e-05      0.000     -0.878      0.380      -0.000       0.000
transactiondatemonth             0.0002      0.000      1.237      0.216      -0.000       0.001
transactiondateday           -5.702e-05   5.95e-05     -0.959      0.338      -0.000    5.95e-05
airconditioningtypeid            0.0003      0.000      0.872      0.383      -0.000       0.001
architecturalstyletypeid        -0.0003      0.004     -0.069      0.945      -0.007       0.007
basementsqft                  8.066e-05   5.74e-05      1.406      0.160   -3.18e-05       0.000
bathroomcnt                     -0.0110      0.003     -4.065      0.000      -0.016      -0.006
bedroomcnt                       0.0009      0.001      1.252      0.210      -0.001       0.002
buildingclasstypeid          -1.951e-07   2.22e-07     -0.878      0.380   -6.31e-07     2.4e-07
buildingqualitytypeid            0.0004      0.000      1.052      0.293      -0.000       0.001
calculatedbathnbr                0.0077      0.005      1.512      0.130      -0.002       0.018
decktypeid                    -3.22e-06   3.67e-06     -0.878      0.380   -1.04e-05    3.97e-06
finishedfloor1squarefeet     -5.838e-07   1.58e-05     -0.037      0.971   -3.16e-05    3.05e-05
calculatedfinishedsquarefeet -5.113e-06   6.44e-06     -0.794      0.427   -1.77e-05     7.5e-06
finishedsquarefeet12          1.658e-05   6.28e-06      2.642      0.008    4.28e-06    2.89e-05
finishedsquarefeet13             0.0002      0.000      0.880      0.379      -0.000       0.001
finishedsquarefeet15          1.145e-05   6.63e-06      1.728      0.084   -1.54e-06    2.44e-05
finishedsquarefeet50         -1.826e-06   1.52e-05     -0.120      0.905   -3.17e-05    2.81e-05
finishedsquarefeet6            8.14e-06   8.34e-06      0.976      0.329   -8.21e-06    2.45e-05
fips                             0.0051      0.003      1.735      0.083      -0.001       0.011
fireplacecnt                     0.0031      0.004      0.840      0.401      -0.004       0.010
fullbathcnt                      0.0016      0.004      0.401      0.689      -0.006       0.010
garagecarcnt                     0.0021      0.002      0.980      0.327      -0.002       0.006
garagetotalsqft              -1.386e-05   5.42e-06     -2.556      0.011   -2.45e-05   -3.23e-06
heatingorsystemtypeid           -0.0007      0.000     -3.369      0.001      -0.001      -0.000
latitude                     -4.052e-09   3.25e-09     -1.247      0.212   -1.04e-08    2.32e-09
longitude                      5.89e-09   2.96e-09      1.988      0.047    8.35e-11    1.17e-08
lotsizesquarefeet             6.642e-09   4.82e-09      1.378      0.168   -2.81e-09    1.61e-08
poolcnt                      -4.878e-08   5.55e-08     -0.878      0.380   -1.58e-07    6.01e-08
poolsizesum                  -2.019e-05    3.5e-05     -0.577      0.564   -8.88e-05    4.84e-05
pooltypeid10                 -4.878e-08   5.55e-08     -0.878      0.380   -1.58e-07    6.01e-08
pooltypeid2                  -4.878e-08   5.55e-08     -0.878      0.380   -1.58e-07    6.01e-08
pooltypeid7                  -4.878e-08   5.55e-08     -0.878      0.380   -1.58e-07    6.01e-08
propertylandusetypeid         9.448e-05      0.000      0.610      0.542      -0.000       0.000
rawcensustractandblock       -5.215e-07   2.97e-07     -1.754      0.079    -1.1e-06    6.13e-08
regionidcity                 -2.439e-09   1.18e-08     -0.207      0.836   -2.55e-08    2.06e-08
regionidcounty                7.491e-06   1.91e-06      3.916      0.000    3.74e-06    1.12e-05
regionidneighborhood         -2.767e-09    5.5e-09     -0.503      0.615   -1.35e-08    8.01e-09
regionidzip                  -3.496e-07   1.47e-07     -2.380      0.017   -6.38e-07   -6.17e-08
roomcnt                          0.0003      0.000      0.900      0.368      -0.000       0.001
storytypeid                  -3.415e-07   3.89e-07     -0.878      0.380    -1.1e-06    4.21e-07
threequarterbathnbr              0.0002      0.000      0.708      0.479      -0.000       0.001
typeconstructiontypeid        1.469e-06   6.42e-06      0.229      0.819   -1.11e-05     1.4e-05
unitcnt                         -0.0007      0.001     -0.727      0.467      -0.003       0.001
yardbuildingsqft17           -2.844e-05   1.51e-05     -1.886      0.059    -5.8e-05    1.12e-06
yardbuildingsqft26            1.831e-05   4.86e-05      0.377      0.706   -7.69e-05       0.000
yearbuilt                     4.159e-05   3.38e-05      1.232      0.218   -2.46e-05       0.000
numberofstories                 -0.0034      0.002     -1.446      0.148      -0.008       0.001
structuretaxvaluedollarcnt   -3.536e-07   5.35e-08     -6.611      0.000   -4.58e-07   -2.49e-07
taxvaluedollarcnt             3.899e-07   5.31e-08      7.346      0.000    2.86e-07    4.94e-07
assessmentyear                -9.83e-05      0.000     -0.878      0.380      -0.000       0.000
landtaxvaluedollarcnt        -3.631e-07   5.32e-08     -6.831      0.000   -4.67e-07   -2.59e-07
taxamount                    -3.231e-06   2.56e-07    -12.643      0.000   -3.73e-06   -2.73e-06
taxdelinquencyyear              -0.0008      0.001     -0.581      0.561      -0.004       0.002
censustractandblock           2.187e-14   2.55e-14      0.857      0.391   -2.81e-14    7.19e-14
==============================================================================
Omnibus:                    66804.125   Durbin-Watson:                   1.930
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         65873551.198
Skew:                           2.209   Prob(JB):                         0.00
Kurtosis:                     135.262   Cond. No.                     9.01e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.01e+15. This might indicate that there are
strong multicollinearity or other numerical problems.

## Predict

In [15]:
pred = result.predict(dfX)

In [21]:
pred[:10]

0    0.022014
1    0.007637
2    0.022974
3    0.020934
4    0.017501
5    0.013365
6    0.015991
7    0.024064
8    0.018872
9    0.009140
dtype: float64

## Score

In [19]:
import tqdm
def MAE(y, ypred):
    #logerror=log(Zestimate)−log(SalePrice)
    return np.sum([abs(y[i]-ypred[i]) for i in range(len(y))]) / len(y)

In [20]:
print(MAE(new_train16["logerror"], pred))

0.06844537957483443